@each $state, $value in $theme-gradient-colors {
  .alert-#{$state} {
    @include gradient-directional(nth($value, 1) 0%, nth($value, -1) 100%, $deg: 195deg);
  }
}
.alert-warning {
  color:#0B0C0C;
  border-radius: 4px;
  border: 1px solid  #F5BD0B;
  background-color: rgba(245, 189, 11, 0.15);
  background-repeat:no-repeat;
  background-position: 16px 16px;
  padding-left:44px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 21C16.9706 21 21 16.9706 21 12C21 7.02944 16.9706 3 12 3C7.02944 3 3 7.02944 3 12C3 16.9706 7.02944 21 12 21Z' stroke='%23F5BD0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.25 11.25H12V16.5H12.75' stroke='%23F5BD0B' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.8125 8.8125C12.3303 8.8125 12.75 8.39277 12.75 7.875C12.75 7.35723 12.3303 6.9375 11.8125 6.9375C11.2947 6.9375 10.875 7.35723 10.875 7.875C10.875 8.39277 11.2947 8.8125 11.8125 8.8125Z' fill='%23F5BD0B'/%3E%3C/svg%3E");
}
.alert-danger {
  border-radius: 4px;
  border: 1px solid  #842029;
  color: #842029;
  background-color: #f8d7da;
    border-color: #f5c2c7;
  background-repeat:no-repeat;
  background-position: 16px 16px;
  background-size:24px;
  padding-left:44px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z' stroke='%23842029' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 10V17' stroke='%23842029' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 22.75C16.6904 22.75 17.25 22.1904 17.25 21.5C17.25 20.8096 16.6904 20.25 16 20.25C15.3096 20.25 14.75 20.8096 14.75 21.5C14.75 22.1904 15.3096 22.75 16 22.75Z' fill='%23842029'/%3E%3C/svg%3E");
}
.btn-close {
  &:focus {
    box-shadow: none;
  }
}

.alert-dismissible {
  .btn-close {
    background-image: none;
  }
}
