@each $prop, $value in $theme-colors {
  .badge.bg-#{$prop} {
    background: $value;
  }
  .badge.badge-#{$prop} {
    color: $value;
  }
  
}

.badge {
  text-transform: none;
  font-weight:400;
  font-size: 0.85em;


&.badge-sidebar{
  position: absolute;
  right: 20px;
  top: 12px;
  padding: 0.3rem 0.35rem;
  font-size: 80%;
  font-weight: 500;
}
}