@each $prop, $value in $theme-colors {
  .badge.bg-#{$prop} {
    background: $value;
  }
  .badge.badge-#{$prop} {
    color: $value;
  }
  
}

.badge {
  text-transform: none;
  font-weight:400;
  font-size: 0.85em;
}
