img {
    max-width:100%;
}
.bg-blue{
    background: $bg-blue;
  }
  h1.title-smaill{
    font-size:1.5rem;
  }
  @media(max-width:600px){
    h1.title-smaill{
        font-size:1.15rem;
      }  
  }
.top-block{
    position: relative;
    background-image: url('../img/top-block-bg.png');
    background-size:cover;
    background-repeat:no-repeat;
    
    &__content {
        padding:96px 0;
    }
    &__subtitle{
        font-size:1.1rem;
        color:$gray-600;
    }
    &__img {
        position: relative;
        display:block;
        margin-top:96px;
        margin-left:auto;
    }
    &__pattern{
        position: absolute;
        top: 10%;
    }
    &__mobile-img {
        display:none;
    }
    
}   
 @media(max-width:600px){
        .top-block{
            &__mobile-img {
                display:block;
                margin-top:46px;
            }
            &__content {
                padding:32px 0;
            } 
            &__subtitle {
                font-size:1rem;
                line-height:130%;
            }  
        }  
    }
#parallax {
    position: relative;
    width: 100%;
    height: 450px;
    margin-top:96px;
    background-image: url(../img/top-block-nmg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }
  #parallax1 {
    position: absolute;
    width: 200px;
    height: 250px;
    top:76px;
    background-image: url(../img/pattern.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }

  @media(max-width:600px){
    #parallax, #parallax1 {
        display:none;
    }
  }
  @media(max-width:1024px){
    #parallax {
        background-size: contain;
    }
  }
  .section{
    padding:96px 0 64px 0;
  }
  @media(max-width:900px){
    .section {
        padding: 36px 0 34px 0;
    }
  }
  @media(max-width:600px){
  .section {
    padding: 30px 0 20px 0;
    }
  }
  .cards-about{
    margin-top:77px;
  }
  @media(max-width:800px){
    .cards-about {
        margin-top: 27px;
    }
  }
  .card-about{
    border-radius:none;
    box-shadow: none;
    display:flex;
    &__img{
        width:63px;
        min-width:63px;
        height:63px;
        border-radius: 4px;
        background: rgba(227, 234, 241, 0.30);
        display:flex;
        align-items: center;
        justify-content: center;
        &--small{
            width:32px;
            min-width:32px;
            height:32px;
        }
    }
    &__body{
        padding:0 0 0 16px;
    }
    &__title {
        font-size:12px;
        color:$gray-500;
        margin-bottom:4px;

        & span {
            font-size:24px;
            color:$blueLight;
            font-weight:600;
        }
    }
}
@media(max-width:600px){
    .card-about {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        min-height: calc(100% - 1rem);
        &__img {
            margin-bottom:8px;
        }
    }

}
.partners-content{
    padding: 64px;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
@media(max-width:900px){
    .partners-content {
        padding: 24px 24px 40px 24px;
    }
}
@media(max-width:600px){
    .partners-content {
        padding: 24px 15px 40px;
    }
}
.partners-img{
    height:100%;

    & img {
        height:100%;
        object-fit: cover;
        border-top-right-radius:8px;
        border-bottom-right-radius:8px;
    }
}
.partners-slider{
    margin-top:-60px
}
.partner-slide{
    padding: 16px;
    border-radius: 4px;
    margin: 0 8px;
    text-align: center;
    box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.04);
}
.partners-slider .splide__arrows{
    position: relative;
    justify-content: center;
    margin-left: 50%;
    padding-bottom: 20px;
}

.partners-slider .splide__arrows .splide__arrow--prev{
    position: relative;
    width:20px;
    height:20px;  
    margin-top: -54px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.125 10.9648H16.875' stroke='%2360C0C3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.25 5.33984L16.875 10.9648L11.25 16.5898' stroke='%2360C0C3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat:no-repeat;
    background-position:center;
    transition: all 0.5s linear;
}
 .partners-slider .splide__arrows .splide__arrow--next{
    position: relative;
    width:20px;
    height:20px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.125 10.9648H16.875' stroke='%2360C0C3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.25 5.33984L16.875 10.9648L11.25 16.5898' stroke='%2360C0C3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    margin-top: -55px;
    margin-left: 15px;
     background-repeat:no-repeat;
    background-position:center;
    transition: all 0.5s linear;
}
.partners-slider .splide__arrows .splide__arrow--prev:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.125 10.9648H16.875' stroke='%23003B5C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.25 5.33984L16.875 10.9648L11.25 16.5898' stroke='%23003B5C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

}
.partners-slider .splide__arrows .splide__arrow--next:hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.125 10.9648H16.875' stroke='%23003B5C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M11.25 5.33984L16.875 10.9648L11.25 16.5898' stroke='%23003B5C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");

}
.partner-slider .splide__arrows .splide__arrow.splide__arrow--next svg{
display:none
}
@media(max-width:600px){
    .partners-slider .splide__arrows{
        margin-left: auto;    
    }
    .partners-img{
        & img {
            border-top-right-radius:0;
            border-bottom-right-radius:0;
        }
    }   
}
@media(max-width:900px){
    .partners-slider .splide__arrows .splide__arrow--next{
        margin-top: -29px;   
    } 
    .partners-slider .splide__arrows .splide__arrow--prev{
        margin-top: -28px;    
    } 
}
.brand__content {
    padding-left: 44px;
}
@media(max-width:600px){
    .brand__content {
        padding-left: 0;
    }
}
.brand-list{
    width:100%;
    overflow: hidden;
    position:relative;
    &__wrapper{
        display:flex;
        flex-wrap:wrap;
        width:auto;
     
    }
}
.brand__card{
    border-radius: 4px;
    border: 1px solid var(--gray-2, #CCD3D9);
    background: #FFF;
    padding: 20px;
    text-align: center;
    margin-bottom: 1rem;
    min-height: calc(100% - 1rem);
    min-width:120px;
    margin-left:1rem;
}
@media(max-width:1023px){
    .brand-list{
        &__wrapper {
            flex-wrap:nowrap;
            overflow-x: auto;
            min-width: 1000px;
        }
    }
}
.news{
    .container{
    position:relative;
    
        &:before{
            position: absolute;
            content: "";
            width:262px;
            height:108px;
            right: 0;
            top: -150px;
            background-image: url(../img/pattern.png);
        }
    }
    .card {
        max-width:400px;
        margin-left:1rem;
        }
}
@media(max-width:900px){
    .news{
        .container{
            &:before{
                width: 180px;
                top:-50px
            }
        }
    }
}
@media(max-width:600px){
    .news{
        .container{
            &:before{
                display:none;
            }
        }
        .card {
            margin-left:0;
            }
    } 
    .section .btn {
        display:block;
        width:100%;
    }
}
.form {
    background-image: url(../img/form-bg.png);
    background-size: cover;
    background-repeat:no-repeat;
}
.form-wrapper{
    max-width:600px;
}
@media(max-width:600px){

}
.form__subtitle {
    max-width:462px;
    font-size: 1rem;
}
@media(max-width:600px){
    .form__subtitle {
        font-size: 0.875rem;
    }
}
.form-floating > .bi-calendar-date + .datepicker_input + label {
    padding-left: 3.5rem;
    z-index: 3;
  }
  .custom-file-label {
    position:relative;
    cursor:pointer;
    padding: 16px;
    border-radius: 4px;
    border: 1px dashed $blueLight;
    background: rgba(96, 192, 195, 0.05);
    width: 100%;
    &  input {
      opacity:0;
      position:absolute;
    }
    & span {
        color: $blueLight;
    }
    &.width-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.71875 6.40625L10 3.125L13.2812 6.40625' stroke='%2360C0C3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 11.875V3.125' stroke='%2360C0C3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.875 11.875V16.25C16.875 16.4158 16.8092 16.5747 16.6919 16.6919C16.5747 16.8092 16.4158 16.875 16.25 16.875H3.75C3.58424 16.875 3.42527 16.8092 3.30806 16.6919C3.19085 16.5747 3.125 16.4158 3.125 16.25V11.875' stroke='%2360C0C3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat:no-repeat;
        background-position:right 15px center;

      }
    &--width-file{
        background:transparent;
        box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.04);
    }
    } 
       #drugfile {
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
    }
    .response-send{
        max-width:359px;
    }
    .text-gray-4{
        color: $gray-400;
    }
    .password-vue{
        display:block;
        right: 8px;
        top: 9px;
        position:absolute;
        width:20px;
        height:20px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4.375C3.75 4.375 1.25 10 1.25 10C1.25 10 3.75 15.625 10 15.625C16.25 15.625 18.75 10 18.75 10C18.75 10 16.25 4.375 10 4.375Z' stroke='%23B8BEC3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z' stroke='%23B8BEC3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        z-index: 20;
     &.view{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 4.375C3.75 4.375 1.25 10 1.25 10C1.25 10 3.75 15.625 10 15.625C16.25 15.625 18.75 10 18.75 10C18.75 10 16.25 4.375 10 4.375Z' stroke='%23B8BEC3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 13.125C11.7259 13.125 13.125 11.7259 13.125 10C13.125 8.27411 11.7259 6.875 10 6.875C8.27411 6.875 6.875 8.27411 6.875 10C6.875 11.7259 8.27411 13.125 10 13.125Z' stroke='%23B8BEC3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cline x1='17.3648' y1='1.34197' x2='2.36477' y2='17.342' stroke='%23B8BEC3'/%3E%3C/svg%3E");

     }
    }
    .run-login{
        padding-left:32px;
        background-repeat:no-repeat;
        background-position:left center;
        background-size:20px;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.875 10H3.125' stroke='%23003B5C' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.75 4.375L3.125 10L8.75 15.625' stroke='%23003B5C' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    }
    .run-login:hover{
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.875 10H3.125' stroke='%23318FAD' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.75 4.375L3.125 10L8.75 15.625' stroke='%23318FAD' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
 
    }
    .new-code{
        display:none;

        &.open{
            display:block;
        }
    }
    .support-block{
        margin: 0 1rem;
        display: flex;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--gray-1, #E3EAF1);
        padding: 12px;
        &__icon {
            display: flex;
            padding: 4px;
            width:30px;
            min-width:30px;
            height:30px;
            margin-right:8px;
            justify-content: center;
            align-items: flex-start;
            border-radius: 8px;
            background: rgba(96, 192, 195, 0.10);
        }
        & p {
            color: $gray-400;
            font-size:$font-size-sm;
            margin-bottom:0;
        }
        & a {
            font-size: $font-size-md;
            font-weight:600;
            color:$blue;
        }
    }
    .hamburger{
        width: 32px;
        height: 32px;
        padding:4px;
        border-radius: 4px;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -moz-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer;
    }
    .hamburger span{
        display: block;
         position: absolute;
         height: 1px;
         width: 20px;
         opacity: 1;
         left: 0;
         -webkit-transform: rotate(0deg);
         -moz-transform: rotate(0deg);
         -o-transform: rotate(0deg);
         transform: rotate(0deg);
         -webkit-transition: .4s ease-in-out;
         -moz-transition: .4s ease-in-out;
         -o-transition: .4s ease-in-out;
         transition: .4s ease-in-out;
    }
    .hamburger span:nth-child(1) {
         top: 8px;
         left:5px;
         height: 0.085rem;
       }
       
       .hamburger span:nth-child(2) {
         top: 14px;
         left:5px;
         height: 0.085rem;
       }
       
       .hamburger span:nth-child(3) {
         top: 20px;
         left:5px;
         height: 0.085rem;
       }
       .hamburger.open span:nth-child(1) {
         top: 14px;
         height: 0.085rem;
         -webkit-transform: rotate(135deg);
         -moz-transform: rotate(135deg);
         -o-transform: rotate(135deg);
         transform: rotate(135deg);
       }
       
       .hamburger.open span:nth-child(2) {
         opacity: 0;
         left: -60px;
       }
       
       .hamburger.open span:nth-child(3) {
         top: 14px;
         height: 0.085rem;
         -webkit-transform: rotate(-135deg);
         -moz-transform: rotate(-135deg);
         -o-transform: rotate(-135deg);
         transform: rotate(-135deg);
       }
    .edit-link {
    padding-left: 28px;
    background-repeat:no-repeat;
        background-position:left center;
        
        &--edit {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.24219 16.8749H3.75C3.58424 16.8749 3.42527 16.8091 3.30806 16.6919C3.19085 16.5747 3.125 16.4157 3.125 16.2499V12.7577C3.12472 12.6766 3.14044 12.5962 3.17128 12.5211C3.20211 12.446 3.24745 12.3778 3.30469 12.3202L12.6797 2.94524C12.7378 2.88619 12.8072 2.83929 12.8836 2.80728C12.9601 2.77527 13.0421 2.75879 13.125 2.75879C13.2079 2.75879 13.2899 2.77527 13.3664 2.80728C13.4428 2.83929 13.5122 2.88619 13.5703 2.94524L17.0547 6.42962C17.1137 6.48777 17.1606 6.5571 17.1927 6.63355C17.2247 6.71 17.2411 6.79205 17.2411 6.87493C17.2411 6.95781 17.2247 7.03987 17.1927 7.11632C17.1606 7.19277 17.1137 7.26209 17.0547 7.32024L7.67969 16.6952C7.62216 16.7525 7.55391 16.7978 7.47884 16.8287C7.40376 16.8595 7.32335 16.8752 7.24219 16.8749V16.8749Z' stroke='%23003B5C' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.625 5L15 9.375' stroke='%23003B5C' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            &:hover {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.24219 16.8749H3.75C3.58424 16.8749 3.42527 16.8091 3.30806 16.6919C3.19085 16.5747 3.125 16.4157 3.125 16.2499V12.7577C3.12472 12.6766 3.14044 12.5962 3.17128 12.5211C3.20211 12.446 3.24745 12.3778 3.30469 12.3202L12.6797 2.94524C12.7378 2.88619 12.8072 2.83929 12.8836 2.80728C12.9601 2.77527 13.0421 2.75879 13.125 2.75879C13.2079 2.75879 13.2899 2.77527 13.3664 2.80728C13.4428 2.83929 13.5122 2.88619 13.5703 2.94524L17.0547 6.42962C17.1137 6.48777 17.1606 6.5571 17.1927 6.63355C17.2247 6.71 17.2411 6.79205 17.2411 6.87493C17.2411 6.95781 17.2247 7.03987 17.1927 7.11632C17.1606 7.19277 17.1137 7.26209 17.0547 7.32024L7.67969 16.6952C7.62216 16.7525 7.55391 16.7978 7.47884 16.8287C7.40376 16.8595 7.32335 16.8752 7.24219 16.8749V16.8749Z' stroke='%2360C0C3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.625 5L15 9.375' stroke='%2360C0C3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
             
            }
        }
        &--add {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.125 10H16.875' stroke='%23003B5C' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 3.125V16.875' stroke='%23003B5C' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            &:hover {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.125 10H16.875' stroke='%2360C0C3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10 3.125V16.875' stroke='%2360C0C3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
           
            }
       }
    @media(max-width:600px){
       
        text-indent: -9999px;
    }
    }
    .input-group .btn.search-btn {
        z-index: 6;
    }
    .search-btn {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0625 15.625C12.6869 15.625 15.625 12.6869 15.625 9.0625C15.625 5.43813 12.6869 2.5 9.0625 2.5C5.43813 2.5 2.5 5.43813 2.5 9.0625C2.5 12.6869 5.43813 15.625 9.0625 15.625Z' stroke='%23B8BEC3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.7031 13.7031L17.5 17.5' stroke='%23B8BEC3' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        background-repeat:no-repeat;
        background-position:center;
        background-size: 20px;
        position: absolute;
       

        &:hover {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.0625 15.625C12.6869 15.625 15.625 12.6869 15.625 9.0625C15.625 5.43813 12.6869 2.5 9.0625 2.5C5.43813 2.5 2.5 5.43813 2.5 9.0625C2.5 12.6869 5.43813 15.625 9.0625 15.625Z' stroke='%23003B5C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.7031 13.7031L17.5 17.5' stroke='%23003B5C' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
        }
    }
    .table_sort thead tr th:hover {
        cursor: pointer;
    }
    th.sorted[data-order="-1"]::after {
       content: "";
       display: inline-block;
       background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0966 4.35469C10.068 4.28644 10.0197 4.22821 9.95798 4.18733C9.89625 4.14646 9.8238 4.12477 9.74977 4.125H2.24977C2.17573 4.12477 2.10329 4.14646 2.04156 4.18733C1.97983 4.22821 1.93158 4.28644 1.90289 4.35469C1.87588 4.42396 1.86902 4.49946 1.88312 4.57246C1.89723 4.64545 1.93171 4.71297 1.98258 4.76719L5.73258 8.51719C5.80426 8.5865 5.90006 8.62524 5.99977 8.62524C6.09947 8.62524 6.19528 8.5865 6.26696 8.51719L10.017 4.76719C10.0678 4.71297 10.1023 4.64545 10.1164 4.57246C10.1305 4.49946 10.1237 4.42396 10.0966 4.35469Z' fill='%23959A9E'/%3E%3C/svg%3E");
       width:12px;
       height:12px;  
    }
    
    th.sorted[data-order="1"]::after {
        content: "";
        display: inline-block;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0966 4.35469C10.068 4.28644 10.0197 4.22821 9.95798 4.18733C9.89625 4.14646 9.8238 4.12477 9.74977 4.125H2.24977C2.17573 4.12477 2.10329 4.14646 2.04156 4.18733C1.97983 4.22821 1.93158 4.28644 1.90289 4.35469C1.87588 4.42396 1.86902 4.49946 1.88312 4.57246C1.89723 4.64545 1.93171 4.71297 1.98258 4.76719L5.73258 8.51719C5.80426 8.5865 5.90006 8.62524 5.99977 8.62524C6.09947 8.62524 6.19528 8.5865 6.26696 8.51719L10.017 4.76719C10.0678 4.71297 10.1023 4.64545 10.1164 4.57246C10.1305 4.49946 10.1237 4.42396 10.0966 4.35469Z' fill='%23959A9E'/%3E%3C/svg%3E");
        width:12px;
        height:12px; 
        transform: rotate(180deg);
    }
    .input-group--sms{
        max-width:350px;
    }
    .table-striped {
    border-color: transparent;
    --bs-table-border-color: transparent;
    }
    .table thead th{
       border-bottom:1px solid $gray-100;
       text-transform: none;
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
        --bs-table-accent-bg:  #F7F9FB;
        background:#F7F9FB;
    }
    .table-striped > tbody > tr:nth-of-type(odd) > * {
        --bs-table-accent-bg:  transparent;
    }
    .filter-flex{
        display:flex;
    }
    .filter-form {
        max-height:0;
        overflow:hidden;
        transition: all 0.5s linear;
        &.open{
            max-height:200px;
            overflow: visible;
        }
    }
    @media(max-width:1100px){
        .filter-flex{
           flex-direction: column;
        } 
        .filter-form {
            transition: all 1s linear;
            &.open{
                max-height:1300px;
            }
        }  
    }
    @media(max-width:600px){
    .text-indent{
        display:inline-block;
        text-indent: -9999px;
    }
}
.svg-blue{
    stroke: $blue;
    &:hover{
        stroke:$PrimaryBlue
    }
}
.reset-filter{
    overflow: visible;
}
.nav.nav-pills{
    background-color: transparent;
}
.moving-tab .nav-link.active {
    color: #fff;
    font-weight: 600;
    animation: 0.2s ease;
    box-shadow: none;
    border-radius: 0;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #318FAD;
    width: 100%;
    height:100%;
}

.nav-pills .nav-link.moving-tab{
    border-radius:0;
    width:100%;
    height:100%;
}
.rating {
    width: 200px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
  }
  
  .rating:not(:checked)>input {
    display: none;
  }
  
  .rating:not(:checked)>label {
    width: 30px;
    cursor: pointer;
    font-size: 30px;
    color: lightgrey;
    text-align: center;
    line-height: 1;
  }
  
  .rating:not(:checked)>label:before {
    content: '★';
  }
  
  .rating>input:checked~label {
    color: $warning;
  }
  
  .rating:not(:checked)>label:hover,
  .rating:not(:checked)>label:hover~label {
    color: $warning;
  }
  .orderslider {
    & .splide__arrows{
        position:absolute;
        bottom:20px;
        right:30px;

        & .splide__arrow{
            background-color: $white;
            border-radius:4px;
            &:hover {
                background-color: $blue;
                & svg {
                    display:block;
                    fill:none;
                    stroke: $white;
                }
            }
        }
        & .splide__arrow--prev{
            margin-right:12px;
            transform: none;
        }
        & .splide__arrow--next{
            left:0;
            transform: rotate(180deg);
        }
        & svg {
            display:block;
            fill:none;
            stroke: $blue;
        }
    }
    & img {
        width:100%;
        height:100%;
        object-fit: cover;
    }
  }
  .more{
    &.open{
        svg{
            transform: rotate(180deg);
        }
    }
  }
  .point {
    stroke-width: 2px;
stroke: rgba(96, 192, 195, 0.20);
  }
 .content {
 min-height:50vh;
 }
 .block-404{
    h1 {
        font-size:200px;
        color:$gray-200;
    }
 }
 @media(max-width:600px){
    .block-404{
        h1 {
            font-size:150px;
        }
     }  
 }
.notes{
    position:relative;
    .active {
        width: 8px;
        height: 8px;
        display: block;
        position: absolute;
        background: $red;
        border-radius: 50%;
        right: -2px;
        bottom: 2px;
    }
}
.preloader {
    background: $white;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loaded #preloader {
    display: none;
}

.preloader-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .preloader-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $blue;
    animation: lds-grid 1.2s linear infinite;
  }
  .preloader-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .preloader-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .preloader-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .preloader-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .preloader-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .preloader-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .preloader-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .preloader-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .preloader-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  .lh-0{
line-height: 0;
  }
  .note {
    top:37px;
    width:327px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius:4px;
    padding: 12px 16px;
    z-index: 9999;
    display:flex;
    align-items: center;
    & i {
        margin-right:3px;
    }
    & span {
      display: block;
      margin: 0 auto;
    }
  }
  .note-green {
    border: 1px solid rgba(67, 176, 42, 0.30);
    background: linear-gradient(0deg, rgba(67, 176, 42, 0.10) 0%, rgba(67, 176, 42, 0.10) 100%), #FFF;
    color: #43B02A;
  }
  .note-danger {
    border: 1px solid rgba(238, 81, 87, 0.30);
    background:linear-gradient(0deg, rgba(238, 81, 87, 0.1) 0%, rgba(193, 54, 59, 0.1) 100%), #FFF;  
    color: #EE5157;
  }
  .note-warning {
    border: 1px solid rgba(245, 190, 11, 0.30);
    background:linear-gradient(0deg, rgba(245, 190, 11, 0.10) 0%, rgba(245, 190, 11, 0.10) 100%), #FFF;  
    color: #F5BD0B;
  }
  .note-info{
    border: 1px solid rgba(49, 143, 173, 0.3);
    background:linear-gradient(0deg, rgba(49, 143, 173, 0.1) 0%, rgba(49, 143, 173, 0.1) 100%), #FFF;  
    color:#318FAD;
  }