.page-item {
  .page-link {
    display: $page-link-display;
    align-items: $page-link-align-items;
    justify-content: $page-link-justify-content;
    color: $blue;
    background-color: transparent;
    padding: 3px;
    margin: 0 8px;
    border-radius: 4px !important;;
    border-color:$blue;
    min-width: $page-link-width;
    height: $page-link-height;
    font-size: $font-size-md;
  }
   span {
    display: $page-link-display;
    align-items: $page-link-align-items;
    justify-content: $page-link-justify-content;
    width: $page-link-width;
    height: $page-link-height;
    font-size: $font-size-md;
    margin: $page-link-margin;
  }
  &.active .page-link {
    box-shadow: $pagination-active-box-shadow;
    background-color: rgba(0, 59, 92, 0.15);
  }
}

.pagination-lg {
  .page-item {
    .page-link,
    span {
      width: $page-link-width-lg;
      height: $page-link-height-lg;
      line-height: $page-link-line-height-lg;
    }
  }
}

.pagination-sm {
  .page-item {
    .page-link,
    span {
      width: $page-link-width-sm;
      height: $page-link-height-sm;
      line-height: $page-link-line-height-sm;
    }
  }
}


// Colors
.pagination {
  @each $name, $value in $theme-gradient-colors {
    &.pagination-#{$name} {
      .page-item.active > .page-link {
        &,
        &:focus,
        &:hover {
          @include gradient-directional(nth($value, 1) 0%, nth($value, -1) 100%, $deg: 195deg);
          border: none;
        }
      }
    }
  }
}
