
.step-map{
    display:none;
}
.step-2{
    display:none;
}
.step-3{
    display:none;   
}
.step-4{
    display:none;    
}
.response-send{
    display:none
}
#form-z-danger{
    display:none;
}
#form-lk-danger{
    display:none;
}